.Nav {
    border-right:0.5px solid;
    color:white;
}
nav.bottom-header li:hover {
    background-color:rgb(37, 125, 131);
    border-right:0.5px solid;
    color:white;
}
.nav-active {
    background-color:rgba(3, 83, 50, 0.527);
}
.form-inline {
    float:right;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 2;
  }
.drop:hover .dropdown-content {
    display: block;
  }
.category:first-letter {
    text-transform:capitalize;
}

  