.Nav {
    border-right:0.5px solid;
    color:white;
}
nav.bottom-header li:hover {
    background-color:rgb(37, 125, 131);
    border-right:0.5px solid;
    color:white;
}
.nav-active {
    background-color:rgba(3, 83, 50, 0.527);
}
.form-inline {
    float:right;
}